html {
  overflow-y: scroll;
}
body {
    margin: 20px auto;
    margin-top: 20px !important;
    width: 875px;
    min-width:875px;
    background-color: #fffff8;
    color: #111111;
}

ul {
  font-size: 1.5em;
  color: #333333; 
  line-height: 1.4em;
 }


a {
    text-decoration: none;
    color: #4078C0;
}

nav a, footer a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: 111111;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px;
    font-size: 1.5em;
    line-height: 1.4em;
}

ul.posts li {
    list-style: none;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}




// css

  /* full width horizontal submenus */
#nav .menu_normal li {
    position: static !Important;
}

#nav .menu_normal .sub-menu  {
    left: 0 !Important;
    right: 0 !Important;
}

#nav .menu_normal .sub-menu > li {
    float: left !Important;
}

#nav .menu_normal .label_holder {
    width: auto !Important;
}


    /* add vertical separator between submenu items */
#nav .menu_normal .sub-menu > li {
    border-left: 1px solid #4f4d49;
}
#nav .menu_normal .sub-menu > li:first-child {
    border-left: 0;
}
