---
layout: default
title: Embryologie
---

         <ul><a href='{{site.baseurl}}/anatomie/embryologie'; {% if current[2] contains "embryologie" %}style="color:#F38630;{% endif %}">Embryologie</a></ul>
         <ul><a href='{{site.baseurl}}/anatomie/neuroanatomie'; {% if current[2] contains "neuroanatomie" %}style="color:#F38630;{% endif %}">Neuroanatomie</a></ul>
         <ul><a href='{{site.baseurl}}/';">Kopf und Hals</a></ul>
         <ul><a href='{{site.baseurl}}/';">Rumpf und innere Organe</a></ul>
         <ul><a href='{{site.baseurl}}/';">Obere Extremität</a></ul>
         <ul><a href='{{site.baseurl}}/';">Untere Extremität</a></ul>

<h1>Embryologie</h1>
	<ul class="posts">
	{% for post in site.categories.anatomie1 reversed %}
		<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	{% endfor %}
	</ul>
