---
layout: default
title: Embryologie
---
<h1>{{ page.title }}</h1>

<h2> Lernpaket 1a: Allgemeine Embryologie und Plazenta <sup><a href="http://dl.vorklinik.eu/TestDeck.apkg" download="TestDeck.apkg">🔗</a></sup></h2>

<ul class="posts">
{% for post in site.categories.LP01-allgemeine-embryologie reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
<p style="color:#808080;font-size:100%;"><i><b>Weiterführende Literatur:</b> Moore 2006, Embryologie (S.19-112; 133-172;)</i></p>

<h2> Lernpaket 1b: Weitere Organentwicklung <sup><a href="http://dl.vorklinik.eu/TestDeck.apkg" download="TestDeck.apkg">🔗</a></sup></h2>

<ul class="posts">
{% for post in site.categories.lp01b-weitere-organentwicklung reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
<p style="color:#808080;font-size:100%;"><i><b>Weiterführende Literatur:</b> Moore 2006, Embryologie (S.223-554;)</i></p>

<br>
