---
layout: default
title: Stoffwechsel
---

{% include title.html title="Lernpaket 37: Proteine und ihr Stoffwechsel" category="lp18" %}

{% include title.html title="Lernpaket 38: Lipide und ihr Stofwechsel" category="lp18" %}

{% include title.html title="Lernpaket 39: Nukleotide und ihr Stoffwechsel" category="lp18" %}

{% include title.html title="Lernpaket 40: Kohlenhydrate und ihr Stoffwechsel" category="lp18" %}

{% include title.html title="Lernpaket 41: Integration und Steuerung des Stoffwechsels" category="lp18" %}
