---
layout: default
title: Physik
---
<h1>{{ page.title }}</h1>

{% include titleanki.html title="Lernpaket 1: Mathematische Grundlagen" link="TestDeck.apkg" %}
{% include vidlist.html cat1="1-grundlagen" cat2="1-mathematische-grundlagen" %}

{% include titleanki.html title="Lernpaket 2: Mechanik" link="TestDeck.apkg" %}
{% include vidlist.html cat1="1-grundlagen" cat2="2-mechanik" %}

<h2> Lernpaket 3: Wärme und Löslichkeit<sup><a href="http://dl.vorklinik.eu/TestDeck.apkg" download="TestDeck.apkg">🔗</a></sup></h2>
<ul class="posts">
{% for post in site.categories.?%}
    {% if post.categories contains "?"%}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>

<h2> Lernpaket 4: Elektrizität, Magnetismus und Wellen<sup><a href="http://dl.vorklinik.eu/TestDeck.apkg" download="TestDeck.apkg">🔗</a></sup></h2>
<ul class="posts">
{% for post in site.categories.?%}
    {% if post.categories contains "?"%}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>

<h2> Lernpaket 5: Optik und Strahlungen<sup><a href="http://dl.vorklinik.eu/TestDeck.apkg" download="TestDeck.apkg">🔗</a></sup></h2>
<ul class="posts">
{% for post in site.categories.?%}
    {% if post.categories contains "?"%}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>

<br>
<br>
