<div id="disqus_thread">
    <script type="text/javascript">
        var disqus_shortname = 'vorklinik';
        var disqus_identifier = "{{ page.url }}";
        {% if page.customurl %}var disqus_identifier = "{{ page.customurl }}"; {% endif %}
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
</div>
