<footer>
  <ul class="flex-container"; style="font-size:150%">
		<li><a href='{{site.baseurl}}/home' {% if current[1] == "home" %} style="color:#F38630;"{% endif %}>Home</a></li>
		<li><a href='https://twitter.com/vorklinik'target="_blank">Twitter</a></li>
		<li><a href='https://www.instagram.com/vorklinik/'target="_blank">Instagram</a></li>
		<li><a href='https://www.facebook.com/vorklinik/'target="_blank">Facebook</a></li>
		<li><a href='https://www.patreon.com/vorklinik'target="_blank">Patreon</a></li>
  		<li><a href='https://www.youtube.com/vorklinik'target="_blank">YouTube</a></li>
		<li><a href='{{site.baseurl}}/Team' {% if current[1] == "team" %} style="color:#F38630;"{% endif %}>Team</a></li>
		<li><a href='{{site.baseurl}}/Impressum' {% if current[1] == "impressum" %} style="color:#F38630;"{% endif %}>Impressum und rechtliche Hinweise</a></li>
  		<li><a href=' 'target="_blank">Klinischer Studienabschnitt</a></li>
  </ul>
</footer>
