<footer>
  <ul class="flex-container"; style="font-size:150%">
		<li><a href='{{site.baseurl}}/' {% if current[1] == "home" %} style="color:#F38630;"{% endif %}>Home</a></li>
		<li><a href='{{site.baseurl}}/blog' {% if current[1] == "blog" %} style="color:#F38630;"{% endif %}>Blog</a></li>
		<li><a href='https://twitter.com/vorklinik'target="_blank">Twitter</a></li>
		<li><a href='https://www.patreon.com/vorklinik'target="_blank">Patreon</a></li>
		<li><a href='https://www.instagram.com/vorklinik/'target="_blank">Instagram</a></li>
		<li><a href='https://www.facebook.com/vorklinik/'target="_blank">Facebook</a></li>
		<li><a href='https://www.vimeo.com/vorklinik'target="_blank">Vimeo</a></li>
		<li><a href='https://www.youtube.com/'target="_blank">YouTube</a></li>
		<li><a href='{{site.baseurl}}/Impressum und rechtliche Hinweise' {% if current[1] == "impressum" %} style="color:#F38630;"{% endif %}>Impressum</a></li>
		<li>{% include share_twitter.html %}&nbsp;&nbsp;{% include share_fb.html %}</li>
  </ul>
</footer>
