{% if page.vidid_yt %}
<a {% include share_fb.html %} style="float:right;margin-left: 10px; color:grey" target="_blank" download><i class="fa fa-facebook-square fa-1x zoom-icon"></i></a>
{% endif %}

{% if page.anki %}
<a href="https://app.box.com/v/vorklinik-anki/file/{{ page.anki }}" style="float:right;margin-left: 10px; color:grey" target="_blank" download><i class="fa fa-list-alt fa-1x zoom-icon"></i></a>
{% endif %}

<a href="{{site.baseurl}}/images/{{page.url | remove:'.html'| split:'/' | last }}_img" style="float:right;margin-left: 10px; color:grey"><i class="fa fa fa-pencil fa-1x zoom-icon"></i></a>

<a href="{{site.baseurl}}/info/{{page.url | remove:'.html'| split:'/' | last }}_info" style="float:right;margin-left: 10px; color:grey"><i class="fa fa fa-cogs fa-1x zoom-icon"></i></a>

<a href="{{site.baseurl}}/info/{{page.url | remove:'.html'| split:'/' | last }}_info" style="float:right;margin-left: 10px; color:grey"><i class="fa fa fa-question fa-1x zoom-icon"></i></a>

