{% if page.anki %}
<a href="?" style="float:right;margin-left: 10px; color:grey" target="_blank" download><i class="fa fa-list-alt fa-1x zoom-icon"></i></a>
{% endif %}

{% if page.refs %}
<a href="{{ page.refs }}" style="float:right;margin-left: 10px; color:grey" target="_blank"><i class="fa fa-book fa-1x zoom-icon"></i></a>
{% else %}
<a href="{{ page.refs }}" style="float:right;margin-left: 10px; color:white;cursor:default" target="_blank"><i class="fa fa-book fa-1x zoom-icon"></i></a>
{% endif %}
{% endif %}

{% if page.image %}
<a href="?" style="float:right;color:grey" target="_blank"><i class="fa fa-camera fa-1x zoom-icon"></i></a>
{% else %}
<a href="?" style="float:right;color:white;cursor:default" target="_blank"><i class="fa fa-camera fa-1x zoom-icon"></i></a>
{% endif %}


