{% assign current = page.url | downcase | split: '/' %}
<nav>
<ul class="flex-container"; style="font-size:167%">
   <li><a href='{{site.baseurl}}/anatomie/embryologie' {% if current[1] contains "anatomie" or current.size < 1 %} style="color:#F38630;"{% endif %}>Anatomie</a></li>
   <li><a href='{{site.baseurl}}/biochemie/chemie' {% if current[1] contains "biochemie" %} style="color:#F38630;"{% endif %}>Biochemie</a></li>
   <li><a href='{{site.baseurl}}/histologie/gewebelehre' {% if current[1] contains "histologie" %} style="color:#F38630;"{% endif %}>Histologie</a></li>
   <li><a href='{{site.baseurl}}/physiologie/physik' {% if current[1] contains "physiologie" %} style="color:#F38630;"{% endif %}>Physiologie</a></li>
   <li><a href='{{site.baseurl}}/anatomie/embryologie' {% if current[1] contains "psysoz" %} style="color:#F38630;"{% endif %}>Psychologie/Soziologie</a></li>
   <li><a href='{{site.baseurl}}/anatomie/embryologie' {% if current[1] contains "pathologie" %} style="color:#F38630;"{% endif %}>Pathologie</a></li>
   <li><a href='{{site.baseurl}}/anatomie/embryologie' {% if current[1] contains "pharmakologie" %} style="color:#F38630;"{% endif %}>Pharmakologie</a></li>
</ul>	

<ul class="flex-container"; style="font-size:60%">
{% if current[1] contains "anatomie" or current.size < 1  or current[1] contains "impressum" or current[1] contains "blog" %}
         <ul><a href='{{site.baseurl}}/anatomie/embryologie'; {% if current[2] contains "embryologie" or current.size < 1  %} style="color:#F38630;{% endif %}">Embryologie</a></ul>
         <ul><a href='{{site.baseurl}}/anatomie/obere-extremitaet'; {% if current[2] contains "obere-extremitaet" %} style="color:#F38630;{% endif %}">Obere Extremität</a></ul>
         <ul><a href='{{site.baseurl}}/anatomie/untere-extremitaet'; {% if current[2] contains "untere-extremitaet" %} style="color:#F38630;{% endif %}">Untere Extremität</a></ul>
         <ul><a href='{{site.baseurl}}/anatomie/rumpf-und-innere-organe'; {% if current[2] contains "rumpf-und-innere-organe" %} style="color:#F38630;{% endif %}">Rumpf und innere Organe</a></ul>
         <ul><a href='{{site.baseurl}}/anatomie/kopf-und-hals'; {% if current[2] contains "kopf-und-hals" %} style="color:#F38630;{% endif %}">Kopf und Hals</a></ul>
         <ul><a href='{{site.baseurl}}/anatomie/neuroanatomie'; {% if current[2] contains "neuroanatomie" %} style="color:#F38630;{% endif %}">Neuroanatomie</a></ul>
{% endif %}

{% if current[1] contains "biochemie" %}
         <ul><a href='{{site.baseurl}}/biochemie/chemie'; {% if current[2] contains "chemie" %}style="color:#F38630;{% endif %}">Chemie</a></ul>
         <ul><a href='{{site.baseurl}}/biochemie/biologie'; {% if current[2] contains "biologie" %}style="color:#F38630;{% endif %}">Biologie</a></ul>
         <ul><a href='{{site.baseurl}}/biochemie/stoffwechsel'; {% if current[2] contains "stoffwechsel" %}style="color:#F38630;{% endif %}">Stoffwechsel</a></ul>
         <ul><a href='{{site.baseurl}}/biochemie/enzyme'; {% if current[2] contains "enzyme" %}style="color:#F38630;{% endif %}">Enzyme</a></ul>
         <ul><a href='{{site.baseurl}}/biochemie/hormone'; {% if current[2] contains "hormone" %}style="color:#F38630;{% endif %}">Hormone</a></ul>
         <ul><a href='{{site.baseurl}}/biochemie/organspezifischer-stoffwechsel'; {% if current[2] contains "organspezifischer-stoffwechsel" %}style="color:#F38630;{% endif %}">Organspezifischer Stoffwechsel</a></ul>
         <ul><a href='{{site.baseurl}}/biochemie/blut'; {% if current[2] contains "blut" %}style="color:#F38630;{% endif %}">Blut</a></ul>
         <ul><a href='{{site.baseurl}}/biochemie/immunsystem'; {% if current[2] contains "immunsystem" %}style="color:#F38630;{% endif %}">Immunsystem</a></ul>
         <ul><a href='{{site.baseurl}}/biochemie/molekularbiologie'; {% if current[2] contains "molekularbiologie" %}style="color:#F38630;{% endif %}">Molekularbiologie</a></ul>
{% endif %}

{% if current[1] contains "histologie" %}
         <ul><a href='{{site.baseurl}}/histologie/gewebelehre'; {% if current[2] contains "gewebelehre" %}style="color:#F38630;{% endif %}">Gewebelehre</a></ul>
         <ul><a href='{{site.baseurl}}/histologie/kreislauf';>Kreislauf und Immunsystem</a></ul>
         <ul><a href='{{site.baseurl}}/histologie/kreislauf';>Respirationssystem</a></ul>      
         <ul><a href='{{site.baseurl}}/histologie/kreislauf';>Verdaaungapparat</a></ul>
         <ul><a href='{{site.baseurl}}/histologie/kreislauf';>Urogenitalsystem</a></ul>
         <ul><a href='{{site.baseurl}}/histologie/kreislauf';>Nervensystem</a></ul>
{% endif %}

{% if current[1] contains "physiologie" %}
         <ul><a href='{{site.baseurl}}/physiologie/physik'; {% if current[2] contains "physik" %}style="color:#F38630;{% endif %}">Physik</a></ul>
         <ul><a href='{{site.baseurl}}/physiologie/neurophysiologie'; {% if current[2] contains "neurophysiologie" %}style="color:#F38630;{% endif %}">Neurophysiologie</a></ul>
         <ul><a href='{{site.baseurl}}/physiologie/muskulatur'; {% if current[2] contains "muskulatur" %}style="color:#F38630;{% endif %}">Muskulatur</a></ul>
         <ul><a href='{{site.baseurl}}/physiologie/herz'; {% if current[2] contains herz" %}style="color:#F38630;{% endif %}">Herz</a></ul>
         <ul><a href='{{site.baseurl}}/physiologie/kreislauf'; {% if current[2] contains "kreislauf" %}style="color:#F38630;{% endif %}">Kreislauf</a></ul>
         <ul><a href='{{site.baseurl}}/physiologie/atmung'; {% if current[2] contains "atmung" %}style="color:#F38630;{% endif %}">Atmung</a></ul>
         <ul><a href='{{site.baseurl}}/physiologie/niere'; {% if current[2] contains "niere" %}style="color:#F38630;{% endif %}">Niere</a></ul>
         <ul><a href='{{site.baseurl}}/physiologie/git'; {% if current[2] contains "git" %}style="color:#F38630;{% endif %}">GIT</a></ul>
         <ul><a href='{{site.baseurl}}/physiologie/hormonsystem'; {% if current[2] contains "hormonsystem" %}style="color:#F38630;{% endif %}">Hormonsystem</a></ul>
{% endif %}

{% if current[1] contains "pathologie" %}
         <ul><a href='{{site.baseurl}}/pathologie/cardiovaskulaeres-system'; {% if current[2] contains "cardiovaskulaeres-system" %}style="color:#F38630;{% endif %}">Cardiovaskuläres System</a></ul>
         <ul><a href='{{site.baseurl}}/pathologie/nervensystem'; {% if current[2] contains "nervensystem" %}style="color:#F38630;{% endif %}">Nervensystem</a></ul>
         <ul><a href='{{site.baseurl}}/pathologie/atmungssystem'; {% if current[2] contains "atmungssystem" %}style="color:#F38630;{% endif %}">Atmungssystem</a></ul>
         <ul><a href='{{site.baseurl}}/pathologie/immunsystem'; {% if current[2] contains "immunsystem" %}style="color:#F38630;{% endif %}">Immunsystem</a></ul>
         <ul><a href='{{site.baseurl}}/pathologie/bewegungssystem'; {% if current[2] contains "bewegungssystem" %}style="color:#F38630;{% endif %}">Bewegungssystem</a></ul>
         <ul><a href='{{site.baseurl}}/pathologie/andere-organsysteme'; {% if current[2] contains "andere-organsysteme" %}style="color:#F38630;{% endif %}">Andere Organsysteme</a></ul>
{% endif %}

{% if current[1] contains "psysoz" %}
         <ul><a href='{{site.baseurl}}/psysoz/methodologie'; {% if current[2] contains "methodologie" %}style="color:#F38630;{% endif %}">Wissenschaftliche Methodologie</a></ul>
         <ul><a href='{{site.baseurl}}/psysoz/psychologie-grundlagen'; {% if current[2] contains "psychologie-grundlagen" %}style="color:#F38630;{% endif %}">Grundlagen der Psychologie</a></ul>
         <ul><a href='{{site.baseurl}}/psysoz/aerztliches-handeln'; {% if current[2] contains "aerztliches-handeln" %}style="color:#F38630;{% endif %}">Ärztliches Handeln</a></ul>
         <ul><a href='{{site.baseurl}}/psysoz/gesundheitssystem'; {% if current[2] contains "gesundheitssystem" %}style="color:#F38630;{% endif %}">Das Gesundheitssystem</a></ul>
{% endif %}

</ul>
</nav>
