{% assign current = page.url | downcase | split: '/' %}

<nav>
<ul class="flex-container"; style="font-size:160%">
   <li><a href='{{site.baseurl}}/anatomie/embryologie' {% if current[1] contains "anatomie" or current.size < 1 %} style="color:#F38630;"{% endif %}>Anatomie</a></li>
   <li><a href='{{site.baseurl}}/biochemie/chemie' {% if current[1] contains "biochemie" %} style="color:#F38630;"{% endif %}>Biochemie</a></li>
   <li><a href='{{site.baseurl}}/physiologie/physik' {% if current[1] contains "physiologie" %} style="color:#F38630;"{% endif %}>Physiologie</a></li>
   <li><a href='{{site.baseurl}}/' {% if current[1] contains "histologie" %} style="color:#F38630;"{% endif %}>Histologie</a></li>
   <li><a href='{{site.baseurl}}/' {% if current[1] contains "psysoz" %} style="color:#F38630;"{% endif %}>Psychologie/Soziologie</a></li>
   <li><a href='{{site.baseurl}}/' {% if current[1] contains "pathologie" %} style="color:#F38630;"{% endif %}>Pathologie</a></li>
   <li><a href='{{site.baseurl}}/' {% if current[1] contains "pharmakologie" %} style="color:#F38630;"{% endif %}>Pharmakologie</a></li>
</ul>	

<ul class="flex-container"; style="font-size:60%">
   
{% if current[1] contains "anatomie" or current.size < 1  or current[1] contains "impressum" or current[1] contains "blog" %}
         <ul><a href='{{site.baseurl}}/anatomie/embryologie'; {% if current[2] contains "embryologie" or current.size < 1  %}style="color:#F38630;{% endif %}">Embryologie</a></ul>
         <ul><a href='{{site.baseurl}}/anatomie/neuroanatomie'; {% if current[2] contains "neuroanatomie" %}style="color:#F38630;{% endif %}">Neuroanatomie</a></ul>
         <ul><a href='{{site.baseurl}}/anatomie/embryologie';>Kopf und Hals</a></ul>
         <ul><a href='{{site.baseurl}}/anatomie/embryologie';>Rumpf und innere Organe</a></ul>
         <ul><a href='{{site.baseurl}}/anatomie/embryologie';>Obere Extremität</a></ul>
         <ul><a href='{{site.baseurl}}/anatomie/embryologie';>Untere Extremität</a></ul>
{% endif %}

{% if current[1] contains "biochemie" %}
         <ul><a href='{{site.baseurl}}/biochemie/chemie'; {% if current[2] contains "chemie" %}style="color:#F38630;{% endif %}">Chemie</a></ul>
         <ul><a href='{{site.baseurl}}/biochemie/biologie'; {% if current[2] contains "biologie" %}style="color:#F38630;{% endif %}">Biologie</a></ul>
         <ul><a href='{{site.baseurl}}/biochemie/proteine'; {% if current[2] contains "proteine" %}style="color:#F38630;{% endif %}">Proteine</a></ul>
         <ul><a href='{{site.baseurl}}/biochemie/lipide'; {% if current[2] contains "lipide" %}style="color:#F38630;{% endif %}">Lipide</a></ul>
         <ul><a href='{{site.baseurl}}/biochemie/saccharide'; {% if current[2] contains "saccharide" %}style="color:#F38630;{% endif %}">Saccharide</a></ul>
         <ul><a href='{{site.baseurl}}/biochemie/nukleinsaeuren'; {% if current[2] contains "lipide" %}style="color:#F38630;{% endif %}">Nukleinsäuren</a></ul>
         <ul><a href='{{site.baseurl}}/biochemie/blut-immunsystem'; {% if current[2] contains "blut-immunsystem" %}style="color:#F38630;{% endif %}">Blut & Immunsystem</a></ul>
         <ul><a href='{{site.baseurl}}/biochemie/hormone-signaltransduktion'; {% if current[2] contains "hormone" %}style="color:#F38630;{% endif %}">Hormone</a></ul>
         <ul><a href='{{site.baseurl}}/biochemie/zellzyklus'; {% if current[2] contains "zellzyklus" %}style="color:#F38630;{% endif %}">Zellzyklus</a></ul>
{% endif %}

{% if current[1] contains "physiologie" %}
         <ul><a href='{{site.baseurl}}/physiologie/physik'; {% if current[2] contains "physik" %}style="color:#F38630;{% endif %}">Physik</a></ul>
         <ul><a href='{{site.baseurl}}/physiologie/zellphysiologie'; {% if current[2] contains "zellphysiologie" %}style="color:#F38630;{% endif %}">Zellphysiologie</a></ul>
         <ul><a href='{{site.baseurl}}/physiologie/niere'; {% if current[2] contains "Niere" %}style="color:#F38630;{% endif %}">Niere</a></ul>
         <ul><a href='{{site.baseurl}}/physiologie/muskulatur'; {% if current[2] contains "Muskulatur" %}style="color:#F38630;{% endif %}">Muskulatur</a></ul>
         <ul><a href='{{site.baseurl}}/physiologie/kreislauf'; {% if current[2] contains "Kreislauf" %}style="color:#F38630;{% endif %}">Kreislauf</a></ul>
         <ul><a href='{{site.baseurl}}/physiologie/herz'; {% if current[2] contains "Herz" %}style="color:#F38630;{% endif %}">Herz</a></ul>
         <ul><a href='{{site.baseurl}}/physiologie/atmung'; {% if current[2] contains "Atmung" %}style="color:#F38630;{% endif %}">Atmung</a></ul>
         <ul><a href='{{site.baseurl}}/physiologie/nerv'; {% if current[2] contains "Nerv" %}style="color:#F38630;{% endif %}">Nerv</a></ul>

{% endif %}
</ul>
</nav>
