{% assign current = page.url | downcase | split: '/' %}

<nav>
<ul class="flex-container"; style="font-size:160%">
   <li><a href='{{site.baseurl}}/anatomie/embryologie' {% if current[1] contains "anatomie" %} style="color:#F38630;"{% endif %}>Anatomie</a></li>
   <li><a href='{{site.baseurl}}/biochemie' {% if current[1] contains "biochemie" %} style="color:#F38630;"{% endif %}>Biochemie</a></li>
   <li><a href='{{site.baseurl}}/' {% if current[1] contains "physiologie" %} style="color:#F38630;"{% endif %}>Physiologie</a></li>
   <li><a href='{{site.baseurl}}/' {% if current[1] contains "histologie" %} style="color:#F38630;"{% endif %}>Histologie</a></li>
   <li><a href='{{site.baseurl}}/' {% if current[1] contains "psysoz" %} style="color:#F38630;"{% endif %}>Psychologie/Soziologie</a></li>
   <li><a href='{{site.baseurl}}/' {% if current[1] contains "pathologie" %} style="color:#F38630;"{% endif %}>Pathologie</a></li>
   <li><a href='{{site.baseurl}}/' {% if current[1] contains "pharmakologie" %} style="color:#F38630;"{% endif %}>Pharmakologie</a></li>
</ul>	

<ul class="flex-container"; style="font-size:60%">
{% if current[1] contains "anatomie" %}
         <ul><a href='{{site.baseurl}}/anatomie/embryologie'; {% if current[2] contains "embryologie" %}style="color:#F38630;{% endif %}">Embryologie</a></ul>{% endif %}
         <ul><a href='{{site.baseurl}}/anatomie/neuroanatomie'; {% if current[2] contains "neuroanatomie" %}style="color:#F38630;{% endif %}">Neuroanatomie</a></ul>{% endif %}
         <ul><a href='{{site.baseurl}}/';">Kopf und Hals</a></ul>
         <ul><a href='{{site.baseurl}}/';">Rumpf und innere Organe</a></ul>
         <ul><a href='{{site.baseurl}}/';">Obere Extremität</a></ul>
         <ul><a href='{{site.baseurl}}/';">Untere Extremität</a></ul>
{% endif %}
{% if current[1] contains "biochemie" %}
         <ul><a href='{{site.baseurl}}/biochemie/Proteine'; {% if current[2] contains "proteine" %}style="color:#F38630;{% endif %}">Proteine</a></ul>{% endif %}
         <ul><a href='{{site.baseurl}}/biochemie/Lipide'; {% if current[2] contains "lipide" %}style="color:#F38630;{% endif %}">Lipide</a></ul>{% endif %}
         <ul><a href='{{site.baseurl}}/biochemie/';">Nukleinsäuren</a></ul>
         <ul><a href='{{site.baseurl}}/biochemie/';">Signalleitung</a></ul>
         <ul><a href='{{site.baseurl}}/biochemie/';">Molekularbiologie</a></ul>
         <ul><a href='{{site.baseurl}}/biochemie/';">Molekularbiologie/a></ul>
{% endif %}



</ul>
</nav>
