{% if page.vidid %}
<br><br>
{% if page.photolink %}
{% endif %}
<center>
  <iframe id="myiframe" src="https://player.vimeo.com/video/{{ page.vidid }}" width="875" height="492" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</center>

<a href="/" style="float:right"> 🅐 </a>
<a href="/" style="float:right"> 📷 </a>
<div style="float:left;font-size:75%;color:Grey">Literatur: 
  <b>Blabla (3. Auflage)</b> S. 105-107, 108.
  <b>Blabla (3. Auflage)</b> S. 105-107, 108.
</div>



<H2>Lernziele</H2>
{% endif %}
