{% if page.vidid %}
<br><br>
<center>
  <iframe id="myiframe" src="https://player.vimeo.com/video/{{ page.vidid }}" width="875" height="492" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</center>

<a href="/" style="float:right;margin-left: 10px;"><i class="fa fa-list-alt fa-1x"></i></a>
<a href="/" style="float:right"><i class="fa fa-camera fa-1x"></i></a>
<div style="float:left;font-size:90%;color:Grey">Literatur: 
  <b>Blabla (3. Auflage)</b> S. 105-107, 108.
  <b>Blabla (3. Auflage)</b> S. 105-107, 108.
</div>



<H2>Lernziele</H2>
{% endif %}
