<a style="float:right; margin-top: -20px;" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.vorklinik.eu&t=" target="_blank" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i><span class="sr-only"></span></a>
<br><br>
<center>
  <iframe id="myiframe" src="https://player.vimeo.com/video/{{ page.vidid }}" width="875" height="492" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</center>

<a href="/" style="float:right"> 🅐 </a>
<a href="/" style="float:right"> 📷 </a>
<div style="float:left;font-size:75%;color:Grey">Literatur: 
  <b>Blabla (3. Auflage)</b> S. 105-107, 108.
  <b>Blabla (3. Auflage)</b> S. 105-107, 108.
</div>



<H2>Lernziele</H2>

