---
layout: default
title: Mikriobiologie
---
<h1>{{ page.title }}</h1>

<h2> Lernpaket 24: Prokaryoten<sup><a href="http://dl.vorklinik.eu/TestDeck.apkg" download="TestDeck.apkg">🔗</a></sup></h2>
<ul class="posts">
{% for post in site.categories.anatomie%}
    {% if post.categories contains "LP01"%}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>

<h2> Lernpaket 25: Pilze, Viren, Prionen und Transposons<sup><a href="http://dl.vorklinik.eu/TestDeck.apkg" download="TestDeck.apkg">🔗</a></sup></h2>
<ul class="posts">
{% for post in site.categories.anatomie%}
    {% if post.categories contains "LP01"%}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}

</ul>

<br>
