---
layout: default
title: Chemie
---
<h1>{{ page.title }}</h1>
	
<h2>Allgemeine Grundlagen der Chemie</h2>
<ul class="posts">
{% for post in site.categories.chemie1 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
	
<h2>Reaktionen der anorganischen Chemie</h2>
<ul class="posts">
{% for post in site.categories.chemie1 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Grundlagen der organischen Chemie</h2>
<ul class="posts">
{% for post in site.categories.chemie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Funktionelle Gruppen und Stoffklassen der organischen Chemie</h2>
<ul class="posts">
{% for post in site.categories.chemie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Proteine, Lipide, Nukleinsäuren und Kohlenhydrate</h2>
<ul class="posts">
{% for post in site.categories.chemie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
