---
layout: default
title: Physiologie
---
<h1>{{ page.title }}</h1>

<h2>Zellphysiologie</h2>
<ul class="posts">
{% for post in site.categories.physiologie1 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
	
<h2>Physiologie der Skelettmuskulatur und der glatten Muskulatur</h2>
<ul class="posts">
{% for post in site.categories.physiologie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Physiologie des Herz-Kreislaufsystems</h2>
<ul class="posts">
{% for post in site.categories.physiologie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Physiologie der Atmung</h2>
<ul class="posts">
{% for post in site.categories.physiologie1 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Physiologie der Niere</h2>
<ul class="posts">
{% for post in site.categories.physiologie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Physiologie der Sinne</h2>
<ul class="posts">
{% for post in site.categories.physiologie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Physiologie der Motorik</h2>
<ul class="posts">
{% for post in site.categories.physiologie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Andere Themengebiete der Neurophysiologie</h2>
<ul class="posts">
{% for post in site.categories.physiologie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

