---
layout: default
title: Biochemie
---

<h2>Aminosäuren, Proteine und Enzyme</h2>
<ul class="posts">
{% for post in site.categories.biochemie1 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
	
<h2>Lipide, Lipoproteine und biologische Membranen</h2>
<ul class="posts">
{% for post in site.categories.biochemie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Zytoskelett, Extrazelluläre Matrix und Zellkontakte</h2>
<ul class="posts">
{% for post in site.categories.biochemie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Nukleotide, Nukleinsäuren und genetische Infortmation</h2>
<ul class="posts">
{% for post in site.categories.biochemie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Proteinbiosynthese, Energieerzeugung und Energiestoffwechsel</h2>
<ul class="posts">
{% for post in site.categories.biochemie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Signaltransduktion und Hormone</h2>
<ul class="posts">
{% for post in site.categories.biochemie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Zellzykluskontrolle und Apoptose</h2>
<ul class="posts">
{% for post in site.categories.biochemie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Blut, Gerinnung und Immunsystem</h2>
<ul class="posts">
{% for post in site.categories.biochemie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>




