---
layout: default
title: Biochemie
---
<h1>{{ page.title }}</h1>

<h2>Biochemie der Aminosäuren, Proteine und Enzyme</h2>
<ul class="posts">
{% for post in site.categories.biochemie1 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
	
<h2>Biochemie der Lipide, Lipoproteine und der biologischen Membranen</h2>
<ul class="posts">
{% for post in site.categories.biochemie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Biochemie der Nukleotide und der Nukleinsäuren </h2>
<ul class="posts">
{% for post in site.categories.biochemie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Zytoskelett, Extrazelluläre Matrix und Zellkontakte</h2>
<ul class="posts">
{% for post in site.categories.biochemie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Proteinbiosynthese, Energieerzeugung und Energiestoffwechsel</h2>
<ul class="posts">
{% for post in site.categories.biochemie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Signaltransduktion</h2>
<ul class="posts">
{% for post in site.categories.biochemie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Zellzykluskontrolle und Apoptose</h2>
<ul class="posts">
{% for post in site.categories.biochemie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Blut und Immunsystem</h2>
<ul class="posts">
{% for post in site.categories.biochemie2 reversed %}
	<li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>




