---
layout: default
title: Stoffwechsel
---
{% include title.html title="Lernpaket 37: Proteine und ihr Stoffwechsel" category="311" %}

{% include title.html title="Lernpaket 38: Lipide und ihr Stofwechsel" category="312" %}

{% include title.html title="Lernpaket 39: Nukleotide und ihr Stoffwechsel" category="313" %}

{% include title.html title="Lernpaket 40: Kohlenhydrate und ihr Stoffwechsel" category="314" %}

{% include title.html title="Lernpaket 41: Integration und Steuerung des Stoffwechsels" category="315" %}
