<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
	</head>
	<body>
		<nav>
    		<ul class="flex-container">
			{% assign current = page.url | downcase | split: '/' %}
         		{% if page.active == "Home" %} <li "><a style="color:#F38630;" href="{{site.baseurl}}/">Home</a></li>
          			{% else %} <li><a href="{{site.baseurl}}/">Home</a></li>
         		{% endif %}
	    		<li><a href='{{site.baseurl}}/BIOLOGIE' {% if current[1] == "biologie" or current[1] == "biologie1" or current[1] == "biologie2" or current[1] == "biologie3" %} style="color:#F38630;"{% endif %}>Biologie</a></li>
	    		<li><a href='{{site.baseurl}}/PHYSIK' {% if current[1] == "physik" %} style="color:#F38630;"{% endif %}>Physik</a></li>
	    		<li><a href='{{site.baseurl}}/CHEMIE' {% if current[1] == "chemie" %} style="color:#F38630;"{% endif %}>Chemie</a></li>
	    		<li><a href='{{site.baseurl}}/ANATOMIE' {% if current[1] == "anatomie" or current[1] == "anatomie2" %} style="color:#F38630;"{% endif %}>Anatomie</a></li>
	    		<li><a href='{{site.baseurl}}/HISTOLOGIE' {% if current[1] == "histologie" %} style="color:#F38630;"{% endif %}>Histologie</a></li>
	    		<li><a href='{{site.baseurl}}/BIOCHEMIE' {% if current[1] == "biochemie" %} style="color:#F38630;"{% endif %}>Biochemie</a></li>
	    		<li><a href='{{site.baseurl}}/PHYSIOLOGIE' {% if current[1] == "physiologie" %} style="color:#F38630;"{% endif %}>Physiologie</a></li>
	    		<li><a href='{{site.baseurl}}/PSYSOZ' {% if current[1] == "psysoz" %} style="color:#F38630;"{% endif %}>Psychologie/Soziologie</a></li>
	     	</ul>	
		</nav>
		<div class="container" style="text-align: justify">
			{{ content }}
		</div>
		
	</div>
		<footer>
        <ul>
         <li><a href='{{site.baseurl}}/Impressum' {% if current[1] == "impressum" %} style="color:#F38630;"{% endif %}>Impressum</a></li>
         <li><a href='{{site.baseurl}}/blog' {% if current[1] == "blog" %} style="color:#F38630;"{% endif %}>Blog</a></li>
         <li><a href='{{site.baseurl}}/kaufen' {% if current[1] == "kaufen" %} style="color:#F38630;"{% endif %}>Kaufen</a></li>         
        </ul>
		</footer>
	</body>
</html>
