<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
	</head>
	<body>
		<nav>
    		<ul class="flex-container">
			{% assign current = page.url | downcase | split: '/' %}
			<ul id="nav">
			<li><a href="#">Anatomie</a>
 				<ul>
	 			<li><a href="#">Embryologie</a></li>
 				<li><a href="#">Obere Extremität</a></li>
 				<li><a href="#">Rumpf</a></li>
 				</ul>
			</li>
	     	</ul>	
		</nav>
		<div class="container" style="text-align: justify">
			{{ content }}
		</div>

		<footer>
        <ul style="margin-top: -4px;">
         <li><a href='{{site.baseurl}}/Impressum' {% if current[1] == "impressum" %} style="color:#F38630;"{% endif %}>Impressum</a></li>
        </ul>
		</footer>
	</body>
</html>
