<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
	</head>
	<body>
	{% include navmenu.html %}
		
	<h1>{{ page.title }} {% if page.categories contains 'blog' %} ({{ page.date | date: "%d-%m-%Y" }}){% endif %}</h1>
	<div class="container" style="text-align: justify;margin-top:-10px;">
		{{ content }}
	</div>
	<p></p>
	<footer>
        <ul style="margin-top: -4px;">
		<li><a href='{{site.baseurl}}/' {% if current[1] == "home" %} style="color:#F38630;"{% endif %}>Home</a></li>
		<li><a href='{{site.baseurl}}/blog' {% if current[1] == "blog" %} style="color:#F38630;"{% endif %}>Blog</a></li>
		<li><a href='https://twitter.com/Vorklinik'target="_blank">Twitter</a></li>
		<li><a href='https://www.instagram.com/vorklinik/'target="_blank">Instagram</a></li>
		<li><a href='https://www.facebook.com/vorklinik/'target="_blank">Facebook</a></li>
		<li><a href='https://www.youtube.com/'target="_blank">YouTube</a></li>
		<li><a href='{{site.baseurl}}/Impressum' {% if current[1] == "impressum" %} style="color:#F38630;"{% endif %}>Impressum</a></li>
		<li><a style="color:#4078C0">Copyright © 2017 Vorklinik.eu. All Rights Reserved.</a></li>
        </ul>
	</footer>
	</body>
</html>
