<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
	</head>
	<body>
		<nav>
    		<ul class="flex-container">
			{% assign current = page.url | downcase | split: '/' %}
         		{% if page.active == "Home" %} <li "><a style="color:#F38630;" href="{{site.baseurl}}/">Home</a></li>
          			{% else %} <li><a href="{{site.baseurl}}/">Home</a></li>
         		{% endif %}
	    		<li><a href='{{site.baseurl}}/biologie' {% if current[1] contains "biologie" %} style="color:#F38630;"{% endif %}>Biologie</a></li>
	    		<li><a href='{{site.baseurl}}/' {% if current[1] contains "physik" %} style="color:#F38630;"{% endif %}>Physik</a></li>
	    		<li><a href='{{site.baseurl}}/' {% if current[1] == "chemie" or current[1] == "chemie1" or current[1] == "chemie2" %} style="color:#F38630;"{% endif %}>Chemie</a></li>
	    		<li><a href='{{site.baseurl}}/' {% if current[1] contains "anatomie" %} style="color:#F38630;"{% endif %}>Anatomie</a></li>
	    		<li><a href='{{site.baseurl}}/' {% if current[1] contains "histologie" %} style="color:#F38630;"{% endif %}>Histologie</a></li>
	    		<li><a href='{{site.baseurl}}/' {% if current[1] contains "biochemie" %} style="color:#F38630;"{% endif %}>Biochemie</a></li>
	    		<li><a href='{{site.baseurl}}/' {% if current[1] contains "physiologie" %} style="color:#F38630;"{% endif %}>Physiologie</a></li>
	    		<li><a href='{{site.baseurl}}/' {% if current[1] contains "psysoz" %} style="color:#F38630;"{% endif %}>Psy/Soz</a></li>
	    		<li><a href='{{site.baseurl}}/' {% if current[1] contains "physikum" %} style="color:#F38630;"{% endif %}>Physikum</a></li>
	     	</ul>	
		</nav>
		<div class="container" style="text-align: justify">
			{{ content }}
		</div>
		
	</div>
		<footer>
        <ul class="flex-container" style="text-align: right">
         <li><a href='{{site.baseurl}}/' {% if current[1] == "blog" %} style="color:#F38630;"{% endif %}></a></li>
         <li><a href='{{site.baseurl}}/' {% if current[1] == "klinik" %} style="color:#F38630;"{% endif %}></a></li>
         <li><a href='{{site.baseurl}}/Impressum' {% if current[1] == "impressum" %} style="color:#F38630;"{% endif %}>Impressum</a></li>
        </ul>
		</footer>
	</body>
</html>
