---
layout: default
notes: active
---
<div class="notes">
		<div class="note single">
 			<h1 class="title" >{{ page.title }}</h1> 
			<div class="notebody" style="text-align: justify">		
			{{ page.content }}
			</div>
<div class="PageNavigation">
            {% if page.categories %}
              {% assign category = page.categories[0] %}
              {% assign posts = site.categories[category] %}
              {% for post in posts %}
                {% if post.url == page.url %}
                  {% assign post_index0 = forloop.index0 %}
                  {% assign post_index1 = forloop.index %}
                {% endif %}
              {% endfor %}
              {% for post in posts %}
                {% if post_index0 == forloop.index %}
                  {% assign next_post = post %}
                {% endif %}
                {% if post_index1 == forloop.index0 %}
                  {% assign prev_post = post %}
                {% endif %}
              {% endfor %}
            {% endif %}
            {% if prev_post %}
                <a rel="prev" class="prev" href="{{ site.baseurl }}{{ prev_post.url }}">&laquo; {{ prev_post.title }}</a>
                 {% else if %}
		<a rel="prev" class="prev"></a>
            {% endif %}
            {% if next_post %}
                <a rel="next" class="next" href="{{ site.baseurl }}{{ next_post.url }}">{{ next_post.title }} &raquo;</a>
                 {% else if %}
                 <a rel="next" class="next"></a>
            {% endif %}
</div>
{% unless page.categories contains 'Home' %}
<div class="notecomments"> 
	{% include disqus.html %}
</div>
{% endunless %}
