---
layout: default
notes: active
---
<h1>{{ page.title }}</h1> 		
<div class="notebody" style="text-align: justify">
	{{ page.content }}
</div>

<script language="javascript">
    var iframe = document.getElementById("myiframe");
        iframe.src = iframe.src + window.location.search;
</script>

{% include navigation.html %}

{% unless page.categories contains 'Home' %}
<div> 
	{% if page.anki %} <a style="float:right;color:lightgrey;text-decoration:none;" href="{{page.anki}}">★</a> {% endif %}
</div>
{% endunless %}

{% include disqus.html %}
