---
layout: default
title: Histologie
---
	<h1>{{ page.title }}</h1>
	
	<h2>Grundlagen der Gewebelehre</h2>
	<ul class="posts">
	  {% for post in site.categories.gewebelehre reversed %}
	    <li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>

	<h2>Muskulatur und Stützgewebe</h2>
	<ul class="posts">
	  {% for post in site.categories.histologie1 reversed %}
	    <li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
	
	<h2>Kardiovaskuläres System</h2>
	<ul class="posts">
	  {% for post in site.categories.histologie2 reversed %}
	    <li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>

	<h2>Blute und des Immunsystem</h2>
	<ul class="posts">
	  {% for post in site.categories.histologie3 reversed %}
	    <li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>

	<h2>Respirationstrakt</h2>
	<ul class="posts">
	  {% for post in site.categories.histologie4 reversed %}
	    <li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>

	<h2>Verdauungsapparat</h2>
	<ul class="posts">
	  {% for post in site.categories.histologie5 reversed %}
	    <li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
	
	<h2>Nervensystems und Sinnesorgane</h2>
	<ul class="posts">
	  {% for post in site.categories.histologie6 reversed %}
	    <li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>

	<h2>Niere und harnleitendes System</h2>
	<ul class="posts">
	  {% for post in site.categories.histologie7 reversed %}
	    <li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>

	<h2>Geschlechtsorgane und endokrine Organe</h2>
	<ul class="posts">
	  {% for post in site.categories.histologie8 reversed %}
	    <li> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>

